body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("http://dash.ga.co/assets/anna-bg.png");
  }
  header{
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size:cover;
    height:100%;
    width: 100%;
    position: relative;
  }
  
  h1{
    color:firebrick;
    text-align:center;
    font-family: 'Londrina Shadow', cursive;
  }
  .info{
    color:firebrick;
    font-size:22px;
    text-align: center;
  }
  
  .main{
    background:rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
  }
  .main:hover{
    color:whitesmoke;
  }
  
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  
  a {
    color:whitesmoke;
    text-align: center;
    float: inline-end;
  }
  p{
    font-family: 'Londrina Shadow', cursive;
    margin:0 auto;
    font-size: medium;
    
  }
  article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    color:white;
  }
  .project1,.project2,.project3{
    font-weight:bold;
    display:inline;
    
  }
  ol{
    font-family: 'Londrina Shadow', cursive;
  }
   @media (max-width: 600px) {
    h1 {
      font-size: 10vw;
      margin-top: 20px;
      line-height: 40px;
    }
    
    li {
      padding: 5px;
      display: block;
      font-size: 18px;
    }
  }



